flask
itsdangerous==2.0.1
python-dotenv
flask_wtf
wtforms
flask_login
flask_mail
flask_sqlalchemy
flask_bcrypt
flask_migrate
sqlalchemy
alembic
mysqlclient
email_validator
pillow
gunicorn
boto3
requests
openai
reportlab